$brand-primary: #391e5a !default;
$background: #f3f3f9;
$tab: #d8d2de;
$my-color: #333333 !default;
$button-text-color: #e4e4ee;
$table-header-background: var(--Blue10, rgba(60, 30, 90, 0.1));
$table-row-border: #3c1e5a1a;
$modal-border-color: #e4e4ee;
$cancel-button: #ebe8ef;
$done-button: #391e5a;
$my-Font: sans-serif;
$my-Size: 14px;
$my-Style: normal;
$my-line-height: normal;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin typography($font-weight, $Height, $color, $Size) {
  height: $Height;
  color: $color;
  font-family: $my-Font;
  font-size: $Size;
  font-style: $my-Style;
  font-weight: $font-weight;
  line-height: $my-line-height;
}
